
.contact {
  background-color: #3B3A3B;
  padding: 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
}

.contact h3 {
  color: #69A14D;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border-bottom: 2px solid #69A14D;
  padding-bottom: 0.5rem;
}

.contact p {
  color: #ffffff;
  margin: 0.8rem 0;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.social-media {
  margin-top: 1.5rem;
}

.social-media h3 {
  color: #69A14D;
  margin-bottom: 1rem;
}

.social-media a {
  color: #ffffff;
  background-color: #69A14D;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.8rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.social-media a:hover {
  background-color: #0b2205;
  transform: translateY(-3px);
}