td, th {
  border: 2px solid #000000;
  padding : 8px;
  text-align: center;
  background-color: #E8DDC6;
  color : #000000;
  font-size: 1.2rem;
}

.environmental-impact-table {
  width: 80%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.environmental-impact-section p {
  font-size: 1.2rem;
  margin: 20px;
}