
.hero-container {
  width: 100vw; 
  height: 800px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
  transition: all 0.5s ease;
}

.hero-container:hover {
  transform: scale(1.01); 
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.3);
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.hero-container:hover .hero-content {
  background-color: rgba(0, 0, 0, 0.7); 
  transform: translateY(-10px); 
}

.hero-title {
  color: #69A14D;
  font-size: 3rem;
  transition: all 0.3s ease;
}


.hero-container:hover .hero-title {
  color: #8BC34A;
  text-shadow: 0 0 10px rgba(139, 195, 74, 0.7); 
}

.hero-description {
  color: #ffffff;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}


.hero-container:hover .hero-description {
  transform: scale(1.05);
  opacity: 0.9; 
}