* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #000000;
  line-height: 2;
  text-align: center;
}

p {
  font-size: 1.5rem;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

h2{
  font-size: 3rem;
  color:#69A14D;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

button {
  background-color: 	#69A14D;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 8px;
}



@media (max-width: 768px) {
  .section {
    padding: 2rem 1rem;
  }

  .section-title {
    font-size: 1.5rem;
  }
}